.header{
    color: #6c757d;     
  font-weight: 300;    
  margin-left: 5rem;
  font-size:xx-large;
  cursor: pointer;
}
.fixedbid{
     color: #373a3c;     
  font-weight: 400;   
  margin-left: 9rem;
  font-size:17px;
  margin-top: .5rem;
  cursor: pointer;
}
.whoweare{
      color: #373a3c;     
  font-weight: 400;   
  margin-left: 4rem;
  font-size:17px;
  margin-top: .5rem;
  cursor: pointer;
}
.resources{
     color: #373a3c;     
  font-weight: 400;   
  margin-left: 1rem;
  font-size:17px;
  margin-top: .5rem;
  cursor: pointer;
}
.content{
     color: #373a3c;     
  font-weight: 400;   
  margin-left: -5rem;
  font-size:17px;
  margin-top: .5rem;
  cursor: pointer;
}

.schedule-tn {
  border-color:#3207f0a2; 
  color: #3207f0a2;        
  transition: background-color 0.3s, color 0.3s;
  margin-left: -4rem;
  font-weight: 700;
  font-size:large;
  cursor: pointer;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.schedule-tn:hover {
  background-color:#3207f0a2 ; 
  color: #fff;  
  cursor: pointer;           
}
.Para{
    font-size: 38px;
    text-align: center;
    font-weight: 900;
    margin-top: 7rem;
}
.line{
     font-size: x-large;
    text-align: center;
    
}
.view{
    margin-left: 35rem;
    font-weight: 600;
  font-size:20px;
  cursor: pointer;
  margin-top: -40rem;
  background-color: #3207f0a2;
  transition: none;
  padding-top: 1rem ;
  padding-bottom: 1rem ;
  padding-left: 2rem;
  padding-right: 2rem;
 
}

.schedule-btn {
  border-color:rgb(64, 64, 180);
  color: rgba(64, 64, 180, 0.767);      
  transition: background-color 0.3s, color 0.3s;
  margin-left: -31rem;
  font-weight: 600;
  font-size:x-large;
  cursor: pointer;
  margin-top: -40rem;
  padding-top: .9rem ;
  padding-bottom: .9rem ;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.schedule-btn:hover {
  background-color: #3207f0a2;
  color: #fff;               
  cursor: pointer;
}
.image {
  display: flex;
  align-items: center; 
  gap: 10px;
 
}

.inline-image {
  width: 100px;
  height: auto;
  margin-top: -40rem;
}

.inline-text {
  margin: 0;
}
.brand{
    font-size: xx-large;
    text-align: center;
    font-weight: 647;
}
.small-img {
  width: 150px;       /* reduce width */
  height: auto;      /* keeps aspect ratio */
  max-width: none;   /* overrides img-fluid’s max-width */
}
.ben{
   width: 150px;       /* reduce width */
  height: auto;      /* keeps aspect ratio */
  max-width: none;   /* overrides img-fluid’s max-width */
}
.choose{
   width: 150px;       /* reduce width */
  height: auto;      /* keeps aspect ratio */
  max-width: none;   /* overrides img-fluid’s max-width */
}
.syneroy{
   width: 150px;       /* reduce width */
  height: auto;      /* keeps aspect ratio */
  max-width: none;   /* overrides img-fluid’s max-width */

}
.ziba{
   width: 100px;       /* reduce width */
  height: auto;      /* keeps aspect ratio */
  max-width: none;   /* overrides img-fluid’s max-width */

}
.npara{
  background-color: #001f3f; 
    color: white;             
    padding: 20px;            
    border-radius: 8px;        
    margin-top: 20px;  
    text-align: center;
}
.n1{
    background-color: #001f3f; 
    color:rgb(222, 222, 219);             
    padding: 20px;             
    border-radius: 8px;      
    margin-top: 20px;  
    text-align: center;

}
.table{
    width: 1400px;       /* reduce width */
  height: 400px;      /* keeps aspect ratio */
  max-width: none;
  padding-left: 25rem;
  margin-left: -10rem;
}
.offer{
  text-align: center;
  font-weight: 500;
  font-size: 35px;
}
.idea{
   text-align: center;
  font-weight: 500;
  font-size: 23px;
  color: rgb(99, 97, 97);
}

 .sticky-notes-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .sticky-note {
    aspect-ratio: 1 / 1;        
    min-width: 250px;           
    padding: 20px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #3a3838;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .light-green {
    background-color: #ccffcc4c; /* light green */
  }

  .sandal {
    background-color: #f5deb36e; /* sandalwood / wheat */
  }

  .purple {
    background-color: #dab6fc5a; /* light purple */
  }
.light{
  font-size:50px;
  font-weight: 700;
  color:rgba(128, 128, 128, 0.181)
}
.ui{
  font-size: 27px;
  font-weight: 700;
}
.cart{
  font-weight:500;
  font-size: 20px;
  color:rgb(120, 117, 117)
}
.two{
   font-size:50px;
  font-weight: 700;
  color:rgba(128, 128, 128, 0.181)
}
.full{
  font-size: 27px;
  font-weight: 700
}
.launch{
  font-weight:500;
  font-size: 20px;
  color:rgb(120, 117, 117)
}
.three{
  font-size:50px;
  font-weight: 700;
  color:rgba(128, 128, 128, 0.181)
} 
.front{
  font-size: 27px;
  font-weight: 700
}
.we{
   font-weight:500;
  font-size: 20px;
  color:rgb(120, 117, 117)
}
.benifits{
  padding-top: 40px;
  background-color: rgba(222, 217, 217, 0.111);
}
.love{
  text-align: center;
  font-weight: 500;
  font-size: 35px;
}
.more{
   text-align: center;
  font-weight: 700px;
  font-size: 21px;
  color: rgb(65, 62, 62);
}
.white-box {
  background-color: white;
  width: 350px; 
  height: 270px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
 

}
.aff{
  font-size: 27px;
  font-weight: 500;
}
.high1{
  font-size:18px ;
  font-weight: 450;
}
.risk{
   font-size: 27px;
  font-weight: 500;
}
.zero{
  font-size:18px ;
  font-weight: 450;
}
.f1{
 font-size: 27px;
  font-weight: 500;
}
.pe{
font-size:18px ;
  font-weight: 450;
}

.marquee-track {
  animation: scroll-left 33s linear infinite;
  white-space: nowrap;
  
}

.marquee-box {
  background-color: rgba(146, 143, 143, 0.082);
  
  border-radius: 15px;
  padding: 5px 21px;
  font-weight:900px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@keyframes scroll-left {
  0% {
    transform: translateX(65%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.value{
  background-color: rgb(31, 31, 49);
}

.contaiiner {
      display: flex;       /* Put children in a row */
      gap: 0px;
     padding-top: 25px;           /* Space between boxes */
    }

    .bx1 {
      width: 240px;
      height: 110px;
      background-color: rgb(107, 98, 206);
      border: 2px solid black;
      text-align: center;
      line-height: 100px;  
      margin-left: 32rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-color: rgb(114, 83, 224);
  
   
      
    }
    .bx2 {
      width: 240px;
      height: 110px;
      background-color:rgb(226, 240, 236);
      border: 2px solid black;
      text-align: center;
      line-height: 100px;  
      margin-left: 1rem;
         border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-color: rgb(114, 83, 224);
      border-bottom: 2px rgb(226, 240, 236);
      
    }
   .slide1{
    background-color: rgb(226, 240, 236);
    margin-top: -.0rem;
   }
   .lean{
    display: flex;
    gap: 0px;
    justify-content: center;
    margin-top: 17rem;
   }
  
.b1 {
   width:350px;
      height: 415px;
      background-color: white;
      border: 2px solid rgb(111, 16, 206);
      border-radius: 5px;
}
.b2 {
 width: 310px;
      height: 395px;
      background-color: white;
      margin-top:.7rem
     
}
.b3 {
      width: 420px;
      height: 395px;
      background-color: white;
      margin-top:.7rem;
      margin-left: .1rem;
      border-top-right-radius: 10px ;
      border-bottom-right-radius: 10px;
    
}
.threeee{
      width: 200px;
      height: 40px;
      background-color: rgb(249, 243, 86);
      border-radius: 50px;
      margin-left: 4.7rem;
      margin-top: 1.5rem;
      padding: .6rem;

}

.unlocking{
     width: 300px;
      height: 40px;
      background-color: rgba(53, 9, 229, 0.686);
      border-radius: 7px;
      margin-top: 1.5rem;
      margin-left: 1.5rem;
      padding: .5rem;
      
}
.yourIP{
  width: 350px;
  height: 190px;
  background-color: rgba(235, 235, 147, 0.218);
  border: 2px solid black;
  border-color: rgba(241, 241, 110, 0.905);
  margin-left: 2rem;
  border-radius: 10px;
  
}
